/*custom*/

body {
    font : 10px "Courier New", Courier, mono;
}

.leftNav {
    display  : block;
    position : relative;
    float    : left;
    left     : 10px;
    width    : 190px;
}

.blocHome, .blocActu {
    display : block;
    float   : left;
    width   : 220px;
}

.blocActu {
    height      : 400px;
    margin-left : 50px;
}

.sectionActu {
    display : block;
    width   : 280px;
}

.titreArchive {
    font-weight : bold;
    font-size   : 20px;
}

article .page {
    width   : 700px;
    padding : 0;
}

#searchBox {
    display  : inline-block;
    width    : 250px;
    position : relative;
    left     : 800px;
    top      : -10px;
}

.home h2 {
    font-size   : 1.17em;
    font-weight : bold;
}

.mentions {
    display      : inline-block;
    margin-right : 150px;
}

.CAL_sidebar {
    width       : 250px;
    float       : left;
    display     : block;
    position    : relative;
    margin-left : 50px;
}

/***************************************/

/*overwrite*/

/***************************************/

#access {
    background : none repeat scroll 0 0 transparent;
    box-shadow : none;
    clear      : both;
    display    : block;
    height     : 150px;
    left       : 500px;
    margin     : 0;
    overflow   : hidden;
    position   : absolute;
    top        : 30px;
    width      : 400px;
    padding    : 0;
}

#access div {
    margin : 0;
}

.menu-menu-principal-container {
    height : 150px;
    width  : 400px;
}

#access a {
    color           : black;
    display         : block;
    line-height     : 3.333em;
    padding         : 0 0.9em;
    text-decoration : none;
}

#access li {
    float    : left;
    height   : 30px;
    position : relative;
    width    : 140px;
}

#access li:hover > a, #access a:focus {
    background : silver repeat scroll 0 0;
    color      : #373737;
}

#searchform input#s {
    width : 50%;
}

#content {
    margin : 0;
}

#primary {
    float  : left;
    margin : 0 0 0 30px;
    width  : 500px;
}

#main .widget-area {
    float       : left;
    margin-left : 50px;
    overflow    : hidden;
    width       : 220px;
}

.current_page_item {
    font-weight     : bold;
    text-decoration : underline;
}

.widgettitle {
    display : none;
}